<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- 编码格式 -->
    <meta charset="utf-8">
    <!-- 针对于IE，因为bootstrap不支持IE古老的渲染模式，为了让IE运行最近的渲染模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 设置响应式布局，获取当前设备物理宽度，再根据设备物理宽度来设置网页宽度，缩放比为1:1 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Lillian">
    <link rel="icon" href="/favicon-sy.ico">

    <!-- 引入日历插件资源 -->
    <!--<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>-->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">-->
    <!--<link rel="stylesheet" type="text/css" href="stylesheets/simple-calendar.css">-->

    <title>学生信息-个人</title>
    <!-- 日历样式 -->
    <!--<style>-->
    <!--#calendar{-->
    <!--width: 74%;-->
    <!--margin-left: 42px;-->
    <!--}-->
    <!--.clearfix{-->
    <!--margin-bottom: 50px !important;-->
    <!--}-->
    <!--</style>-->
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/app/studentInfo.css" rel="stylesheet">
    <link href="/css/app/typeahead.css" rel="stylesheet">
    <link href="/css/messenger.css" rel="stylesheet">
    <link href="/css/messenger-theme-air.css" rel="stylesheet">

    <link href="/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="/css/bootstrap-editable.css" rel="stylesheet">
    <link href="/css/sweetalert.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-editable.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src="/js/messenger.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand active" href="#">学生个人信息</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{'/course/getAllcourseSort'}">课程信息</a></li>
                <li><a th:href="@{'/student/getAllStudentInfo'}">学生信息</a></li>
                <li><a href="javascript:history.go(-1)">返回</a></li>
            </ul>
            <!-- 并不需要的一个查询 -->
            <!-- <form class="navbar-form navbar-right">
              <input type="text" class="form-control" placeholder="查找...">
            </form> -->
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 main" th:each="item:${studentInfo}">
            <div class="table-responsive">
                <h2 class="page-header" style="margin-bottom: 9px;" th:text="${item.getuName()}"></h2>
                <!-- Table -->
                <table class="table" id="table_change">
                    <tr>
                        <td style="border:0; width: 10%;">学号</td>
                        <td style="border:0; width: 90%;" id="uId" th:text="${item.getuId()}"></td>
                    </tr>

                    <tr>
                        <td style="border:0; width: 10%;">指纹ID</td>
                        <td style="border:0; width: 90%;"><a id="uFingerId" th:text="${item.getuFingerId()}"
                                                             data-title="uFingerId"></a></td>
                    </tr>

                    <tr>
                        <td style="border:0;">联系方式</td>
                        <td style="border:0;"><a id="uConnect" th:text="${item.getuConnect()}"></a></td>
                    </tr>

                    <tr>
                        <td style="border:0;">备注</td>
                        <td style="border:0;"><a id="comment" th:text="${item.getComment()}"></a></td>
                    </tr>

                </table>
                <h2 class="page-header"></h2>

                <div id="toolbar" class="btn-group">
                    <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#Modal">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                    <!--<button id="btn_exit" type="button" class="btn btn-default">-->
                    <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改-->
                    <!--</button>-->
                </div>

                <table class="table table-striped" id="oneStuTable">
                </table>

                <!--新增课程-模态框-->
                <div class="modal fade" id="Modal" tabindex="-1" role="dialog"
                     aria-labelledby="ModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="ModalLabel">新增课程</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <!--<label for="cName" class="control-label">课程名称</label>-->
                                        <input type="text" class="form-control" id="ADDcName" autocomplete="off"
                                               placeholder="课程名称">
                                        <div id="tipMsg" style="color:red;"></div>
                                    </div>
                                    <div class="form-group">
                                        <!--<label for="cNumberLast" class="control-label">课时</label>-->
                                        <input type="number" class="form-control" id="ADDcNumberLast" placeholder="课时">
                                    </div>
                                    <div class="form-group">
                                        <!--<label for="overDate" class="control-label">课程截止时间</label>-->
                                        <input type="date" class="form-control" id="ADDoverDate"
                                               style="line-height:normal"
                                               placeholder="课程截止时间">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary" id="addCourse">确认添加</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--查看签到模态框-->
                <div class="modal fade" id="attModal" tabindex="-1" role="dialog"
                     aria-labelledby="ModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="attModalLabel">签到信息</h4>
                            </div>
                            <div class="modal-body">
                                <div id="attToolbar" class="btn-group">
                                    <!--<button id="btn_delete" type="button" class="btn btn-default">-->
                                        <!--<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>删除-->
                                    <!--</button>-->
                                    <!--<button id="btn_exit" type="button" class="btn btn-default">-->
                                    <!--<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改-->
                                    <!--</button>-->
                                </div>
                                <table class="table table-striped" id = "attTable"></table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

<!--编辑课程信息-->
<script th:inline="javascript">
    var $btn_delete = $('#btn_delete');
    var $oneStuTable = $('#oneStuTable');
    var $attTable = $("#attTable");
    selections = [];


    function process(cId) {
        var RcId = cId;
        console.log(RcId);
        initTable()
        {
            console.log("initTable"+RcId);
            // 解决bootstrap-table多次请求值触发一次的问题
            // 在初始化table之前，要将table销毁，否则会保留上次加载的内容
            $attTable.bootstrapTable('destroy');
            $attTable.bootstrapTable({
                // height: getHeight(),
                // url: '/rest-api/oneStudentAttendance/' + [[${uId}]] + "/" + row['cId'],
                url: '/rest-api/oneStudentAttendance/' + [[${uId}]] + "/" + RcId,
                striped: true,   //是否显示行间隔色
                // showHeader: true,
                showColumns: true, //是否显示所有的列
                showRefresh: true, //现实刷新按钮
                showExport: true, //显示导出
                pagination: true,//分页
                sidePagination: 'server',//服务器端分页
                pageList: [5, 10, 20, 50],//分页步进值
                // showFooter: "false",
                // search: true,//显示搜索框
                clickToSelect: false,  //是否启用点击选中行
                toolbar: '#attToolbar', //工具按钮用哪个容器
                idField: 'id',
                editable: true, //行内编辑

                columns: [{
                    field: 'arriveTime',
                    title: '签到时间',
                    // 时间格式化函数 将TimeStamp格式更改为可视化
                    formatter: function (value, row, index) {
                        return changeTimeFormat(value)
                    }
                    // footerFormatter: totalNameFormatter,
                }, {
                    field: 'operate',
                    title: '删除',
                    align: 'center',
                    // events: attOperateEvents,
                    formatter: attOperateFormatter
                }]
            });
            setTimeout(function () {
                $attTable.bootstrapTable('resetView');
            }, 200);
        }
    }

    function initTable() {
        $oneStuTable.bootstrapTable({
            height: getHeight(),
            url: '/rest-api/OneStudentByCourse/' + [[${uId}]],
            striped: true,   //是否显示行间隔色
            // showHeader: true,
            showColumns: true, //是否显示所有的列
            showRefresh: true, //现实刷新按钮
            showExport: true, //显示导出
            pagination: true,//分页
            sidePagination: 'server',//服务器端分页
            pageList: [5, 10, 20, 50],//分页步进值
            // showFooter: "false",
            search: true,//显示搜索框
            clickToSelect: false,  //是否启用点击选中行
            toolbar: '#toolbar', //工具按钮用哪个容器
            idField: 'id',
            editable: true, //行内编辑

            //表格的列
            columns: [{
                field: 'cName',
                title: '课程名称',
                events: operateEvents,
                footerFormatter: totalNameFormatter,
            }, {
                field: 'cNumberEd',
                title: '已完成课时',
                editable: {
                    type: 'number',
                    title: '已完成课时',
                    validate: function (value) {
                        value = $.trim(value);
                        if (!value) {
                            return '不能为空';
                        }
                    },
                }
            }, {
                field: 'cNumberLast',
                title: '剩余课时',
                editable: {
                    type: 'number',
                    title: '剩余课时',
                    validate: function (value) {
                        value = $.trim(value);
                        if (!value) {
                            return '不能为空';
                        }
                    },
                }
            }, {
                field: 'overDate',
                title: '课程截止时间',
                editable: {
                    type: 'date',
                    format: 'yyyy-mm-dd',
                    title: '课程截止时间',
                    validate: function (value) {
                        value = $.trim(value);
                        if (!value) {
                            return '不能为空';
                        }
                    },
                }
            }, {
                field: 'operate',
                title: '操作',
                align: 'center',
                events: operateEvents,
                formatter: operateFormatter
            }],
            //保存修改后的学生课程信息
            onEditableSave: function (field, row) {
                //可进行异步操作
                var req_params = {
                    "cId": row["cId"],
                    "name": field,
                    "value": row[field]
                }
                $.ajax({
                    type: "post",
                    url: "/rest-api/EditStudentCourse/" + [[${uId}]],
                    data: req_params,
                    success: function (data, status) {
                        if (status == "success") {
                            // Messenger 弹窗
                            $.globalMessenger().post({
                                message: "编辑成功！",
                                hideAfter: 3,
                                type: 'success',
                                showCloseButton: true
                            });
                        }
                    },
                    error: function () {
                        $.globalMessenger().post({
                            message: "编辑失败！",
                            hideAfter: 3,
                            type: 'error',
                            showCloseButton: true
                        });
                    },
                    complete: function () {

                    }

                });
            }
        });
        setTimeout(function () {
            $oneStuTable.bootstrapTable('resetView');
        }, 200);

        // 'check.bs.table uncheck.bs.table + check-all.bs.table uncheck-all.bs.table'
        $oneStuTable.on('click-cell.bs.table', function (field, value, row, $element) {
            $btn_delete.prop('disabled', !$oneStuTable.bootstrapTable('getSelections').length);

            // save your data, here just save the current page
            selections = getIdSelections();

            // push or splice the selections if you want to save all data selections
        });

        // Fires when all events trigger, the parameters contain:name: the event name,args: the event data.
        $oneStuTable.on('all.bs.table', function (e, name, args) {
            console.log(name, args);
        });


        $btn_delete.click(function () {
            var ids = getIdSelections();
            $oneStuTable.bootstrapTable('btn_delete', {
                field: 'id',
                values: ids
            });
            $btn_delete.prop('disabled', true);
        });
        //删除数据后，重新界定高度
        $(window).resize(function () {
            $oneStuTable.bootstrapTable('resetView', {
                height: getHeight()
            });
        });


    }

    function getIdSelections() {
        return $.map($oneStuTable.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    //Before load remote data, handler the response data format, the parameters object contains:res: the response data.
    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }


    // 操作栏中的图标
    function operateFormatter(value, row, index) {
        return [
            // '<a class="like" href="javascript:void(0)" title="查看" onclick="process('+row['cId']+')">',
            '<a class="like" href="javascript:void(0)" title="查看">',
            '<i class="glyphicon glyphicon-eye-open"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="移除">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>',
        ].join('   ');
    }

    function attOperateFormatter(value, row, index) {
        return [
            '<a class="deleteAtt" href="javascript:void(0)" title="删除" onclick="attOperateEvents('+row['attId']+')">',
            // '<a class="deleteAtt" href="javascript:void(0)" title="删除">',
            '<i class= "glyphicon glyphicon-trash"></i>',
            '</a>'
        ].join('')
    }

    // 对图标操作的行动
    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            // 单纯显示 row（类型：StudentRelationTableSearchResultItem
            // alert('You click like action, row: ' + JSON.stringify(row));
            //cId = row['cId'];
            console.log("click .like is "+ row['cId']);
            $('#attModal').modal('show');
            process(row['cId']);

            // alert(row['cId']);
        },
        'click .remove': function (e, value, row, index) {
            swal({
                title: "确定删除吗？",
                text: "你将无法恢复该操作！",
                icon: "warning",
                buttons: ["取消","确认删除"],
                dangerMode: true,
            }).then(function (willDelte) {

                if (willDelte) {
                    $.ajax({
                        type: 'DELETE',
                        url: "/rest-api/deleteCourse/" + [[${uId}]] + "/" + row['cId'],
                        success: function () {
                            // $.globalMessenger().post({
                            //     message: "成功删除! 请刷新",
                            //     hideAfter: 3,
                            //     type: 'success',
                            //     showCloseButton: true
                            // });
                            swal("删除！", "课程已经被删除。",
                                "success");
                        },
                        error: function () {
                            swal("失败！", "请刷新后确认剩余课程数量是否为0",
                                "error");
                        }
                    })
                }})
        },
    }

    function attOperateEvents(attId) {
        // alert("this is the "+attId+" record");
        swal({
            title: "确定删除吗？",
            text: "你将无法恢复该操作！",
            icon: "warning",
            buttons: ["取消","确认删除"],
            dangerMode: true,
        }).then(function (DelteRecord) {

            if (DelteRecord) {
                $.ajax({
                    type: 'DELETE',
                    url: "/rest-api/deleteAttRecords/" + attId,
                    success: function () {
                        $attTable.bootstrapTable('refresh');
                        $oneStuTable.bootstrapTable('refresh');
                        swal("删除！", "该记录已经被删除，课程数量重置。",
                            "success");
                    },
                    error: function () {
                        swal("失败！", "改签到信息已经删除，请刷新",
                            "error");
                    }
                })
            }})
    }

    // 格式化TimeStamp
    function changeTimeFormat(cellval){
        var dateVal = cellval + "";
        if (cellval != null) {
            var date = new Date(parseInt(dateVal.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

            var hours = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
            var minutes = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
            var seconds = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

            return date.getFullYear() + "-" + month + "-" + currentDate + " " + hours + ":" + minutes + ":" + seconds;
        }
    }

    function totalNameFormatter(data) {
        return data.length;
    }

    function getHeight() {
        return $(window).height() - $('h1').outerHeight(true);
    }


    $(function () {
        var scripts = [
                '/js/bootstrap-table.min.js',
                '/js/bootstrap-table-locale-all.min.js',
                '/js/extensions/export/bootstrap-table-export.min.js',
                '/js/tableExport.min.js',
                '/js/extensions/editable/bootstrap-table-editable.js',
                '/js/bootstrap-editable.js'
            ],
            eachSeries = function (arr, iterator, callback) {
                callback = callback || function () {
                };
                if (!arr.length) {
                    return callback();
                }
                var completed = 0;
                var iterate = function () {
                    iterator(arr[completed], function (err) {
                        if (err) {
                            callback(err);
                            callback = function () {
                            };
                        }
                        else {
                            completed += 1;
                            if (completed >= arr.length) {
                                callback(null);
                            }
                            else {
                                iterate();
                            }
                        }
                    });
                };
                iterate();
            };
        eachSeries(scripts, getScript, initTable);
    });


    function getScript(url, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = url;
        var done = false;
        // Attach handlers for all browsers
        script.onload = script.onreadystatechange = function () {
            if (!done && (!this.readyState ||
                    this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true;
                if (callback)
                    callback();
                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };
        head.appendChild(script);
        // We handle everything using the script element injection
        return undefined;
    }


</script>

<!--更改个人信息-->
<script th:inline="javascript">
    $.fn.editable.defaults.mode = 'popup';
    $(function () {
        $('#uFingerId').editable({
            type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
            url: "/rest-api/studentInfo/" + [[${uId}]],
            title: "指纹ID",              //编辑框的标题
            send: "always",
            disabled: false,             //是否禁用编辑
            mode: "popup",              //编辑框的模式：支持popup和inline两种模式，默认是popup
            validate: function (value) { //字段验证
                if (!$.trim(value)) {
                    return '不能为空';
                }
            }
        });

    });

    $(function () {
        $('#uConnect').editable({
            type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
            url: "/rest-api/studentInfo/" + [[${uId}]],
            title: "联系方式",              //编辑框的标题
            send: "always",
            disabled: false,             //是否禁用编辑
            emptytext: "联系方式",          //空值的默认文本
            mode: "popup",              //编辑框的模式：支持popup和inline两种模式，默认是popup
            validate: function (value) { //字段验证
                if (!$.trim(value)) {
                    return '不能为空';
                }
                if (!(/^1[34578]\d{9}$/.test(value))) {
                    return '手机号码有误，请重填';
                }
            }
        });
    });

    $(function () {
        $('#comment').editable({
            type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
            url: "/rest-api/studentInfo/" + [[${uId}]],
            title: "备注",              //编辑框的标题
            send: "always",
            disabled: false,             //是否禁用编辑
            emptytext: "备注",          //空值的默认文本
            mode: "popup",              //编辑框的模式：支持popup和inline两种模式，默认是popup
        });

    });
</script>
<!--添加课程-->
<script th:inline="javascript">
    $(function () {
        $._messengerDefaults = {
            extraClasses: 'messenger-fixed messenger-theme-air messenger-on-top'
        };
        $('#addCourse').click(function () {
            var cName = $('#ADDcName').val();
            var cNumberLast = $('#ADDcNumberLast').val();
            var overDate = $('#ADDoverDate').val();
            var mydata = '{"cName":"' + cName + '","cNumberLast":"' + cNumberLast + '","overDate":"' + overDate + '"}';
            console.log(cName + cNumberLast + overDate);
            $.ajax({
                type: 'PUT',
                data: mydata,
                contentType: "application/json;charset=UTF-8",
                url: "/rest-api/addNewCourse/" + [[${uId}]],
                success: function () {
                    // $.globalMessenger().post({
                    //     message: "成功添加! 请刷新",
                    //     hideAfter: 3,
                    //     type: 'success',
                    //     showCloseButton: true
                    // });
                    swal({
                        title: "添加成功！",
                        text: "请刷新!",
                        icon: "success",
                        button: "我知道了!",
                    });
                },
                error: function () {
                    // $.globalMessenger().post({
                    //     message: "添加失败!该学生已经选择该课程",
                    //     hideAfter: 3,
                    //     type: 'error',
                    //     showCloseButton: true
                    // });
                    swal({
                        title: "添加失败！",
                        text: "该学生已经选择该课程!",
                        icon: "error",
                        button: "我知道了!",
                    });
                },
            })
        });

        $("#Modal").on('show.bs.modal', function () {
            console.log("cleaning Modal");
            $("#ADDcName").val("");
            $("#ADDcNumberLast").val("");
            $("#ADDoverDate").val("");
            tip.innerHTML = "";
        });
    });
</script>

<!--原始的模态框补全-->
<script>
    var tip = document.getElementById("tipMsg");
    $(function () {
        $('#ADDcName').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 1,
                menu: true,
                input: false,
            },
            {
                source: function (query, notUsed, process) {
                    return $.ajax({
                        url: '/rest-api/QueryCourse',
                        type: 'GET',
                        data: {query: query, limit: 10},
                        success: function (result) {
                            tip.innerHTML = "";
                            if (result.length != 0) {
                                return process(result);
                            } else {
                                tip.innerHTML = "  该课程不存在！";
                            }
                        },

                    });
                },
            }).bind('typeahead:select', function (ev, suggestion) {
            tip.innerHTML = "";
            console.log('Selection: ' + suggestion);
        });
    })
</script>

<!--<script>-->
<!--function showTime() {-->
<!--document.getElementById("content-wrapper").style.display = "block" ;-->
<!--}-->
<!--</script>-->
<!--&lt;!&ndash; 日历容器 &ndash;&gt;-->
<!--<div id="content-wrapper" style="display: none;">-->
<!--<div class="inner clearfix">-->
<!--<div id = 'calendar'>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; 日历容器的声明 &ndash;&gt;-->
<!--<script type="text/javascript" src="javascripts/simple-calendar.js"></script>-->
<!--<script>-->
<!--var myCalendar = new SimpleCalendar('#calendar');-->
<!--</script>-->


</body>
</html>
